.userImg{
    height: 2.5em;
}

.logo{
    height: 5em;
}

.UserName{
    line-height: 2.5em;
    margin: 0 0.5em;
    font-weight: 500;
}

.header{
    justify-content: space-between;
    margin: 1em 2em;
    align-items: center;
    margin-right: 3em;
    padding-left: 4em;
    padding-right: 8em;    
}
