.background-img{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.service-btn{
    position: relative;
    padding: 2.7em 2.5em;
    margin-right: 1em;
    border: none;
    border-radius: 0.3em;
    font-size: 2em;
    color: white;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.39);
    text-decoration: none;
}

.book-btn{
    background-color: var(--color2);
}

.offer-btn{
    background-color: var(--color1);
}