<img src="../../assets/img4.png" class="bg-img">

<div class="d-flex mt-2">
    <div class="d-flex justify-content-center my-4 filter-section">
        <div class="border rounded p-4 pb-1 bg-light filter-box">
            <div class="d-flex filter-title">
                <p class="h4">Book a Ride</p>
                <a routerLink="/services/offer"><div class="bi bi-toggle-on h2 toggle-btn" type="button"></div></a>
            </div>        
            <p class="text-secondary fw-light caption">we get you the matches asap !</p>
            <div class="d-flex">
                <form [formGroup]="BookingForm" (submit)="updateFilterArray()" ngNativeValidate>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control mt-2" id="floating-input" placeholder="From" formControlName="FromPlace" required>
                        <label for="floating-input">From</label> 
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control mt-4" id="floating-input" placeholder="To" formControlName="ToPlace" required>
                        <label for="floating-input">To</label>
                    </div>            
                    <div class="d-flex mb-3">
                        <div class="me-3">
                            <p class="label">Date</p>
                            <input type="text" class="form-control" placeholder="xx/mm/yyyy" formControlName="Date" required (change)="getTimeSlots()">                
                        </div>
                        <div class="ms-3">
                            <p class="label">Seats Required</p>
                            <input type="number" class="form-control" placeholder="0" formControlName="SeatsRequired" required>                
                        </div>
                    </div>    
                    
                    <p>Time:</p>
                    <div class="d-grid time-filter">
                        <div *ngFor="let time of timesArray; let i=index">
                            <input type="checkbox" class="d-none" id=i>
                            <label for=i><a type="button" [ngClass]="(selectedTime==time && !disabled[i])?'active':'inactive'" [ngClass]="(disabled[i])?'disabled':'available'" (click)="(!disabled[i])?selectedTime=time:''">{{time}}</a></label>
                        </div>

                        <!-- <a type="button" [ngClass]="(selectedTime==time)?'active':'inactive'" (click)="selectedTime=time" *ngFor="let time of timesArray">
                            {{time}}
                        </a> -->
                    </div>

                    <button type="submit" class="submit-btn m-4 ms-0">Submit</button>
                </form>
                <div class="ms-3 dots">
                    <div class="bi bi-circle-fill"></div>
                    <div class="bi bi-circle-fill small text-secondary" *ngFor="let item of[].constructor(4)"></div>
                    <div class="bi bi-geo-alt-fill"></div>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="showResult">
        <p class="h2 mt-3 ms-4 fw-bold filtered-rides-title">Your Matches</p>
        <div class="ms-4 ps-3 filtered-cards">        
            <p *ngIf="filteredRidesArray.length == 0">No Matches</p>
            <div class=" d-grid filtered-rides">
                <span *ngFor="let item of filteredRidesArray">
                    <app-ride-card [ride]=item [path]="'book'" [endPoints]="endPoints" [selectedSeats]="seatsReq"></app-ride-card>
                </span>
            </div>
        </div>
    </div>
</div>