<img src="../../assets/img4.png" class="bg-img">
<div class="d-flex">
    <div class="section">
        <p class="form-control purple">Booked Rides</p>
        <div class="scroll-region">
            <div *ngFor="let ride of bookings" class="cards"><app-ride-card [ride]="ride" [path]="'bookedRides'"></app-ride-card></div>
        </div>
    </div>
    <div class="section">
        <p class="form-control yellow">Offered Rides</p>
        <div class="scroll-region">
            <div *ngFor="let items of offers" class="cards"><app-ride-card [ride]="items" [path]="'history'"></app-ride-card></div>
        </div>
    </div>
    <div class="section" *ngIf="sharedService.showBookings">
        <p class="form-control purple">Booking Info</p>
        <div class="scroll-region passenger-details">
            <app-ride-card [ride]="sharedService.bookingDetails" [path]="'passenger'"></app-ride-card>
        </div>
    </div>
</div>