.section{
    width: 33vw;

    p{
        margin: 2.2em 5em 1em 5em;
        width: fit-content;
        color: white;
        padding: 0.4em 2.3em;
    }

    .purple{
        background-color: var(--color2);
    }

    .yellow{
        background-color: var(--color1);
    }

    .cards{
        display: flex;
        justify-content: center;
        margin-top: 0.5em;
    }
}

.scroll-region{
    height: 69vh;    
    padding: 0.5em 0;
    overflow: scroll;
}

.scroll-region::-webkit-scrollbar{
    width: 4px;
}

.scroll-region::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 2px;
}

.bg-img{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.passenger-details{
 margin-top: 1.7em;   
 padding-left: 0.7em;
}