.filter-section{
    width: 35vw;
}

.filter-title
{
    justify-content: space-between;

    p{
        line-height: 1em;
    }

    .toggle-btn{
        line-height: 1em;
        color: var(--color1);
        margin-bottom: -15px;
        transform: rotateY(180deg);
    }    
}

.bg-img{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

.reg-form
{
    width: 20em;
    padding-top: 1em;

    .label{
        margin-bottom: -7px;
        font-size: smaller;
        color: gray;
        padding: 0;
    }

}

.inp-box{
        border-radius: 0;
        padding-bottom: 1;
        padding-left: 0;
        padding-top: 1;
        border: none; 
        font-size: small;
        height: 3em;    
        border-bottom: 1px solid gray;
    }

.form-floating{
    label{
        margin: -0.9em;
    }
}


.time-filter{
    grid-template-columns: repeat(3,7.5em);
    gap: 0.5em;
    a{
        width: 7.5em;
        letter-spacing: 1px;
        margin-right: 1em;
        font-size: 0.8em;
        font-weight: 400;
        border-radius: 2em;
        padding: 0.3em 0.3em;
        align-items: center;
        text-align: center;
        text-decoration: none;
    }    
}

.inactive{
    color: black;
    border: 1px solid var(--color2);
}

.active{
    background-color: var(--color2);
    color: white;
    border: 1px solid var(--color2);
}

.submit-btn{
    padding: 0.8em 2em;
    border: none;
    border-radius: 1.7em;
    margin: 1em;
    background-color: var(--color1);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 0;
}

.caption{
    margin-top: -10px;
}

.filter-box{
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.293);
    height: 35em;
}

.dots{
    text-align: center;
    margin-top: 2em;

    .bi{
        color: var(--color2);
        font-size: 0.9em;
        margin-top: -0.5em;
    }

    .small{
        font-size: 0.5em;
        opacity: 50%;        
    }

    .bi-geo-alt-fill{
        font-size: 1.2em;
        margin-top: 0;
    }
}


.next-btn{
    width: 100%;
    text-align: right;
    font-size: medium;    

    button
    {
        font-weight: bold;
        color: var(--color2);
        letter-spacing: 1px;
        background: none;
        border: none;
    }
}

.seats-section{
    justify-content: space-between;    
}

.seats-btn{
    border: 1px solid gray;
    padding: 0.5em 1em;
    border-radius: 50%;
    margin-right: 1em;
    text-decoration: none;
}

.stops-input{
    padding-top: 0.8em;
    height: 15em;
    overflow: scroll;
    
    .form-control{
        width: 22em;
        height: 2.8em;
    }

    .dots{
        margin-top: 2.3em;
    }
}

.stops-input::-webkit-scrollbar{
    width: 4px;
}
.stops-input::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 2px;
}

.price-input{
    width: 3em;
    margin-left: 2em;
    border: none;
    padding: 0;
    background: none;
}

.price-input:focus{
    border-color: none;
    box-shadow: none;
}

.add-btn{
    border: none;
    height: fit-content;
    margin-top: auto;
    padding-bottom: 0.5em;
    font-size: large;
    background:none;
    color: var(--color2);
    margin-left: -1em;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
    border-bottom: 2px solid rgb(3, 146, 223);

    .add-btn
    {
        border-bottom: 2px solid rgb(3, 146, 223);
    }
}

.disabled{
    border: 1px solid rgba(128, 128, 128, 0.4);
    color:  rgba(128, 128, 128, 0.4);
    cursor: default;
}

.available{
    border: 1px solid var(--color2);
    color: black;
}

.invisible{
    visibility: hidden;
}

.visible
{
    visibility: visible;
}