<div class="row">
    <div class="col-8 desc">
        <img src="../../assets/logo.png" class="logo ms-5">
        <div class="mt-5 ms-5">
            <p class="h1 title1"><span>TURN </span>MILES</p>
            <p class="h1 title2"><span>INTO </span>MONEY</p>
            <span class="fw-bold">RIDES ON TAP</span>
        </div>

        <img src="../../assets/img1.png">
    </div>
    <div class="col-4 child">
        <!-- <app-sign-up></app-sign-up> -->
        <router-outlet></router-outlet>
    </div>
</div>